.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 1.5em;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
}

h2 svg {
  @media screen and (min-width: 830px) {
    font-size: 2rem !important;
  }
}
