@import "../../sass/partials/variables";

.socialMediaContent {
  display: flex;
  gap: 1em;

  @media only screen and (max-width: 850px) {
    gap: 2em;
  }
}

.socialMediaCircle {
  color: white;
  font-size: 1.2rem;

  &:hover {
    color: $color-hover;
    cursor: pointer;
  }
}
