* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: white;
  font-family: $font-primary;
  line-height: 1.6;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: $color-darker;
    z-index: -1;
  }
}

p {
  font-family: $font-body;
  letter-spacing: .12px;
}

.wrapper {
  flex: 1 0 auto;
}

img {
  width: 100%;
}

li .MuiButtonBase-root {
  display: flex !important;
  padding: inherit !important;
}


@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulsate {
  animation: pulseAnimation 2s ease-in-out infinite;
  width: 50px;
}

.MuiBreadcrumbs-root {
  margin: 1em 0 !important;
}

.MuiBreadcrumbs-separator {
  color: rgba(255, 255, 255, 0.65);
}