.cart {
  background-color: white;
  padding: 1.5em;
  min-height: 58vh;
  margin-top: 0;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 355px;

    @media (max-width: 700px) {
      width: auto;
    }
  }

  .cart-container {
    color: $color-dark;
    text-align: center;
  }

}

@media (min-width: 700px) {
  .item-price-mobile {
    display: none;
  }
}

@media (max-width: 699px) {
  .item-price-desktop {
    display: none;
  }
}

/* Global styles or specific CSS module */
.cart-drawer-container {
  width: 90%!important; /* Ensures max width on mobile */
  color: white;
  padding: 2em;
  background: $color-dark !important;
  height: 100% !important;

  .cart-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    h3 {
      margin: 0;
    }
  }

  .remove-item-button {
    text-decoration: underline;
    cursor: pointer;;
  }
}

@media (min-width: 501px) { /* Adjusts for screens larger than mobile */
  .cart-drawer-container {
    width: fit-content !important; /* Fixed width on desktop */
    min-width: 400px;
    max-width: 500px;
  }
}
