.cart {
  background-color: white;
  padding: 1.5em;
  min-height: 36vh;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1em;
    width: 355px;

    @media (max-width: 700px) {
      width: auto;
    }
  }

  .cart-container {
    color: $color-dark;
    text-align: center;
  }

  @media (min-width: 700px) {
    .item-price-mobile {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .item-price-desktop {
      display: none;
    }
  }
}
