.checkout {
    background-color: white;
    padding: 1.5em;
    margin-top: 0;

    @media (max-width: 900px) {
      padding-top: 4.5em;
    }
  
    .checkout-container {
      color: $color-dark;
      text-align: center;
      display: flex;
      max-width: 1000px;

      @media (max-width: 900px) {
        flex-direction: column-reverse;
        max-width: 650px;
      }
    }

    .checkout-login {
      color: $color-hover;
      margin-left: 3px;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

  }
  