.contact {
  background: $color-darker;
  padding: 1em 1.5em 2em 1.5em;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.contact-container {
  text-align: center;

  .contact-heading {
    max-width: 500px;
    margin: 0 auto;
  }
}
