//Header section
.header {
  padding-top: 1em;
  min-height: 800px;
  background: url("../../patterns/background.jpg") no-repeat;
  background-size: 700px;
  background-position: center center;
  background-color: $color-darker;

  @media only screen and (max-width: 1200px) {
    background-size: 500px;
    padding-top: 0;
    padding-bottom: 2em;
    min-height: 0;
  }

  @media only screen and (max-width: 900px) {
    background-size: 400px;
    background-position: center top 5%;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 1200px) {
    align-items: end;
    min-height: 0;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.phone-grapich {
  width: 650px;
  height: 650px;
  padding: 0 1.5em;

  @media only screen and (max-width: 1200px) {
    width: 500px;
    height: 500px;
  }

  @media only screen and (max-width: 900px) {
    width: 350px;
    height: 350px;
  }

  @media only screen and (max-width: 365px) {
    width: 270px;
    height: 270px;
  }
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@mixin closeButton($right, $top, $hoverColor) {
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  right: $right;
  top: $top;
  & svg:hover {
    transition: 0.2s;
    color: $hoverColor;
  }
}

.confirmation-close {
  @include closeButton(-15px, -15px, $color-hover);
}

.notification-close {
  @include closeButton(10px, 10px, $color-hover);
}
//How it works section
.howItWorks {
  text-align: center;
  padding: 2em 0;

  h2 {
    background: -webkit-linear-gradient(45deg, $color-hover 0%, #70f4da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0.2em;
  }

  .how-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 2em;
    padding: 0 1.5em 4em 1.5em;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    .react-reveal {
      display: flex;
      width: 100%;
    }
  }

  .techhype-card-icon {
    border: 2px solid $color-primary;
    border-radius: 6px;
    padding: 12px 10px;
    color: $color-primary;
  }

  .number-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: $color-primary;
    border-radius: 50%;
    color: $color-dark;
    margin-right: 12px;
  }

  .placeholder-button {
    height: 51px;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-4px);
    }
    80% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .shake-card:hover {
    animation: shake 0.4s;
  }
}

//section Benefits
.benefits {
  background: $color-light;
  color: $color-dark;
  padding: 5em 1.5em;

  @media only screen and (max-width: 900px) {
    padding: 3em 1.5em;
  }

  h2 {
    margin-top: 0.2em;
  }

  .benefits-container {
    display: flex;
    gap: 2em;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    .benefits-image {
      padding: 1em 1.5em;
    }

    img,
    .benefits-image {
      border-radius: 10px;
    }

    .benefits-text {
      text-align: center;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      width: 100%;

      span {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
      }
    }

    .benefits-text,
    .benefits-image {
      flex: 1;
    }

    .benefits-icons {
      display: flex;
      justify-content: center;
      gap: 1em;
      padding-top: 1em;

      @media only screen and (max-width: 400px) {
        flex-direction: column;
        width: auto;
        margin: 0 auto;
      }

      & > div {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
  }
}

//Reviews section
.reviews {
  background-color: $color-dark;
  text-align: center;
  padding-bottom: 4em;
  padding-top: 0.5em;

  h2 {
    margin-bottom: 0;
  }

  .reviews-subheading {
    margin-top: 0.5em;
    margin-bottom: 3em;
    background: -webkit-linear-gradient(45deg, $color-hover 0%, #70f4da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 0 1.5em 3em 1.5em;
    

    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
    }

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .react-reveal {
      display: flex;
    }
  }

}

//Clients section

.clients {
  text-align: center;
  color: $color-dark;
  padding-bottom: 4em;
  padding-top: 2em;

  H3 {
    margin-top: 0.2em;
    padding: 0 1.5em;
  }

  .clients-container {
    padding: 0 1em;

    svg:hover {
      transition: 0.3s ease-in-out;
      color: $color-hover;
    }
  }

  .client-box-container {
    width: 300px;
    height: 200px;
    border: 20px solid white;
    line-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;

    @media only screen and (max-width: 410px) {
      width: 250px;
    }

    @media only screen and (max-width: 359px) {
      width: 180px;
    }
  }

  .client-box-inner {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 20px #00000029;
    border-radius: 10px;
    display: flex;
    padding: 2em;
    width: 100%;

    img {
      max-height: 110px;
      object-fit: contain;
    }
  }
}
