.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  align-items: center;
  min-height: 700px;
  background: url("../../patterns/background.jpg") no-repeat;
  background-size: 700px;
  background-position: center center;

  @media only screen and (max-width: 1200px) {
    align-items: end;
    background-size: 500px;
    margin-top: 0;
    min-height: 0;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
    background-size: 400px;
    background-position: center top 5%;
  }
}

.phone-grapich {
  width: 650px;
  height: 650px;
  padding: 0 1.5em;

  @media only screen and (max-width: 1200px) {
    width: 500px;
    height: 500px;
  }

  @media only screen and (max-width: 900px) {
    width: 350px;
    height: 350px;
  }
}

.comming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;

  @media only screen and (max-width: 900px) {
    font-size: 1.3rem;
  }
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@mixin closeButton($right, $top, $hoverColor) {
  position: absolute;
  cursor: pointer;
  transition: 0.2s;
  right: $right;
  top: $top;
  & svg:hover {
    transition: 0.2s;
    color: $hoverColor;
  }
}

.confirmation-close {
  @include closeButton(-15px, -15px, $color-hover);
}

.notification-close {
  @include closeButton(10px, 10px, $color-hover);
}
