.payment {
    background-color: white;
    padding: 1.5em;
    margin-top: 0;
  
    .payment-container {
      color: $color-dark;
      text-align: center;
      display: flex;
      max-width: 1000px;

      @media (max-width: 990px) {
        flex-direction: column-reverse;
        max-width: 650px;
      }
    }

    .payment-change {
      color: $color-hover;
      margin-left: 3px;
      text-decoration: none;
      font-size: .8rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }