.details {
  color: white;
  background-color: $color-darker;
  padding: 0 1.5em;
  padding-bottom: 3.7em;

  &-item {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;

    & > * {
      flex: 1;
    }

    @media only screen and (max-width: 900px) {
      flex-direction: column;
    }

    h1 {
      margin: 0;
    }
  }

  &-images {
    @media only screen and (max-width: 500px) {
      margin-right: -1.5em;
      margin-left: -1.5em;
    }
  }

  &-info {
    padding: 0 1em;

    @media only screen and (max-width: 1200px) {
      padding: 0;
    }

    .details-price {
      color: $color-primary;
      font-weight: bold;
    }

  }

  &-add {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
    gap: 2em;

    button {
      flex: 1;
    }
  }
}

//Modal

.modal-price {
  color: $color-primary;
}

.MuiCardHeader-subheader {
  color: rgba(255, 255, 255, 0.7) !important;
}
