$color-primary: #54d4c6;
$color-hover: #249ca3;
$color-dark: #1f2427;
$color-darker: #000000;
$color-light: #F5F5F5;
$font-primary: "Lato", sans-serif;
$font-body: "Roboto", sans-serif;
$border-radius-primary: 10px;
